@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: roboto, sans-serif;
    color: #253146;
    width: 100vw;
    background-image: linear-gradient(to right, #f5fafa , #d7e7fe);
}

main {
    padding: 20px;
}

p {
    color: #70717c;
}

.calculator-section {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    padding-bottom: 40px;

    background-color: blue;
}

.intro img {
    width: 50px;
}

.intro h1{
    font-size: 3rem;
    text-align: center;
}

.intro p {
    text-align: center;
}

.calculator {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 20px;
    gap: 20px;
    border-radius: 15px;

}

.calculator > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}


.bmi-result {
    background-color: #4b72fc;
}

